// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote.comment p {
    font-size: 14px;
}

.page-header {

    h2 {
        display: inline-block;
        padding-right: 10px;
    }

    h3, .state {
        display: inline-block;
        font-weight: 300;
        font-size: 22px;
    }

    .state {
        font-weight: 400;
    }

    h3.page-sub-header {
        font-size: 26px;
        font-weight: 400;
    }
    
    h4 {
        display: inline-block;
        padding-right: 5px;
    }
}

.state {
    @extend .label;
    font-size: 12px;
    padding: 0.3em 0.6em;
}

#tickets li {
    padding-bottom: 10px;
}

.tag {
    @extend .state;
    @extend .label-info;
    margin-right: 10px;

    a {
        color: white;

        &.remove {
            font-family: "FontAwesome";
            @extend .fa-close;
            margin-right: 0.5em;
            text-decoration: none;
        }
    }
}
